[project]
name        = "insightspike-ai"
version     = "0.1.0"
description = ""
readme      = "README.md"
authors     = [
  "miyauchikazuyoshi <miyauchikazuyoshi@gmail.com>",
]
[tool.poetry.dependencies]
python = ">=3.11,<3.13"
torch   = "^2.0.0"
networkx        = "^3.4.2"
torch-geometric = "^2.6.1"

[build-system]
requires    = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
