name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Upgrade pip & Install Poetry
      run: |
        python -m pip install --upgrade pip
        pip install poetry

    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements-pip.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install pip dependencies (torch & PyG)
      run: |
        python -m pip install -r requirements-pip.txt

    - name: Poetry install
      run: poetry install --no-interaction

    - name: Run tests
      run: poetry run pytest --maxfail=1 --disable-warnings -q --cov=src
